.viewOverlay {
    position: absolute;
    top: var(--scrollTop);
    left: 0;
    width: 100%;

    background-color: #00FFD744;
    border: solid 1px #00f2ff9f;
    cursor: grab;
}

.viewOverlay:active {
    cursor: grabbing
}