# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore all contents in the folder
build/*    
# Do not ignore the folder itself
!build/    
# Do not ignore the manifest or assets
!build/manifest.json  
!build/assets

# Ignore all tsbuildinfo files
*.tsbuildinfo