#extension-container {
  position: fixed;
  top: 50px;
  right: 20px;
  display: flex;
  width:auto;
}

#option-container {
  transform: rotate(270deg);
  transform-origin: bottom right;
  width: fit-content;
  height: fit-content;
}

#option-container > button {
  background-color: rgb(200, 200, 200);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 0 0.5rem;
  padding-top: 0.1rem;
}

#minimap {
  position: relative;
  top: 0;
  background-color: #ffffffcc;
  box-shadow: 0 0 5px #00000033;
  z-index: 1000;
  width: 100px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#minimap > *{
  transform: scale(0.1);
  transform-origin: top left;
  width: 1000%;
  height: 100%
}

#scroll-bar {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(203, 248, 248, 0.516);
}