#content-root {
  position: fixed;
  top: 50px;
  right: 20px;
  height: 90vh;
  width: auto;
  overflow: hidden;
  z-index: 99999;
  pointer-events: none;
}

#content-root button {
    all: initial;
}

#content-root button:hover {
  color: #2F2F2F;
  background-color: #676767;
  cursor: pointer;
}
