#content-root {
    all: unset;
    position: fixed;
    top: 50px;
    right: 20px;
    height: 90vh;
    width: auto;
    overflow: hidden;
    z-index: 99999;
    pointer-events: none;
    user-select: none;
}
