.minimapContainer {
    position: relative;
    width: 80px;
    height: 90vh;
    background-color: #212121;
    pointer-events: all;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    overflow-y: scroll;
    scrollbar-width: none;
}

.Loader {
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 0.5rem;
    width: 100%;
}