.slider {
  width: 100%;
  min-height: 50px;

  background-color: #00ffa643;
  border-radius: 3px;
  border: solid 1px #00ffa6;

  position: absolute;
  left: 0;
  top:0;
  z-index: 9999;
}

.slider:hover {
  cursor: grab;
}

.slider:active {
  cursor: grabbing;
  user-select: none;
}
