:root {
    --background: #212121; 
    --border-color: #535353;
    --text-color: #ECECEC;
    --hover-color: #2E2E2E;
}

body {
    width: 250px;
    height: fit-content;
    background-color: var(--background);
    color: var(--text-color)
}
 
* {
    box-sizing: border-box;
    margin: 0;
}